html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

img {
  display: block;
}
section {
  padding: 120px 0 120px 0;
}
h1,
h2,
h3 {
  margin: 0 0 0 0;
}
p {
  margin: 0 0 0 0;
}

h2,
h3 {
  color: #2e2f42;
}
ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 0;
}
a {
  text-decoration: none;
}

.page-header {
  padding: 24px 0 24px 0;
  border-bottom: 2px solid tomato;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-nav {
  display: flex;
  align-items: center;

  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
}
.web {
  color: #4d5ae5;
}
.navigation:hover,
.navigation:focus {
  color: #4d5ae5;
}

.nav-list {
  display: flex;
  margin-left: 76px;
}

.nav-list .item:not(:last-child) {
  margin-right: 40px;
}

.navigation {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.contacts {
  color: #434455;
  margin-left: auto;
}
.contacts:hover,
.contacts:focus {
  color: #4d5ae5;
}

.contacts-list {
  display: flex;
}
.contacts-list .contacts-items:not(:last-child) {
  margin-right: 40px;
}
.page-title {
  background-color: #2e2f42;
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;

  border: none;
  border-radius: 4px;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 264px;
}

.benefits-item:not(:last-child) {
  margin-right: 24px;
}

.benefits-list .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.team {
  background-color: #f4f4fd;
}
.section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  padding-bottom: 32px;
  margin-right: 24px;
}

.team-item:not(:last-child) {
  margin-right: 24px;
}

.description {
  text-align: center;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 120px;
}

.team .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio .section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}
.portfolio .name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 24px;
}
.portfolio-item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-item:nth--last-child(-n + 3) {
  margin-bottom: 0;
}

.footer-container {
  background-color: #2e2f42;
  color: #ffffff;
}

.portfolio-discription {
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 32px;
  height: 120px;
}
